#LEGENDE{
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 70px;
}

div{
  width: 600px;
  margin: auto;
}

.Gite{
  width: 347px;
  height: 444px;
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  border-radius: 20px;
}

.Fera{
  width: 350px;
  height: 310.3px;
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  border-radius: 20px;
}

.Homard{
  width: 347px;
  height: 444px;
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  border-radius: 20px;
}


.Carotte{
  width: 304.5px;
  height: 341.5px;
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  border-radius: 20px;
}


.Perche{
  width: 342px;
  height: 377px;
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  border-radius: 20px;
}


.Tourte{
  width: 305.5px;
  height: 191px;
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  border-radius: 20px;
}

